/* General styles */

:root {
  --main-color: rgb(41, 81, 135);
}

html {
  font-family: "Ubuntu", "Verdana";
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, h3 {
  font-size: inherit;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.fa {
  color: black;
}


/* Flags */ 

#flags {
    position: absolute;
    right: 10px;
    top: 0;
}

#flags:hover {
  cursor: pointer;
}


/* About section */

#about {
  font-size: 25px;
}

#me-image {
  height: 200px;
  width: 200px;
  margin-right: 20px;
}

#self-description {
  font-family: "Itim", "Verdana";
  font-weight: bold;
  color: var(--main-color);
  margin: 0;
}

#about>.item {
  justify-content: center;
  margin: auto;
}

#me-title {
  margin-bottom: 0;
}


/* Items and general positioning */

.centered-container {
  margin: 0 auto;
  max-width: 900px;
  padding: 10px;
  clear: both;
}

.category-title {
  font-size: 22px;
}

.item {
  width: 100%;
  padding: 10px;
  clear: both;
  display: flex;
  margin-bottom: 20px;
}
@media screen and (max-width: 700px) {
	.item {
    flex-direction: column;
    align-items: center;
  }
}

.item-right-part {
  padding: 10px 0 10px 0;
}

.item-title {
  font-size: 20px;
  margin: 0;
}

.item-date {
  margin-left: 15px;
  font-size: 16px;
  font-family: "Jura";
  color: var(--main-color);
}

.item-image>img {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  margin-right: 20px;
}
.item-image>img:hover {
  box-shadow: -1px 4px 7px 2px rgba(0, 0, 0, 0.9);
  transition: box-shadow 0.25s ease-in;
}

.item-in-list {
  font-size: 1.1em;
}
